<%-include('partials/header.ejs')%>
<body>
    <%-include('partials/navbar.ejs')%>

    <div class="container">
        <br>
        <div class="card">
            <div class="card-body text-center">
                <h3><%= question.title %></h3>
            </div>
            <div class="card-footer text-center">
                <p><%= question.description %></p>
            </div>
        </div>
        <br>
        <form method="post" action="/torespond">

            <h6 class="display-6"><label>Resposta:</label></h6>
            <textarea name="bodyAnswer" placeholder="Digite sua respota" class="form-control"></textarea><br>
            <input type="hidden" name="idQuestion" value="<%= question.id %>">
            <button type="submit" class="btn btn-primary">Responder</button>
            
        </form>
        <br>
        <br>
        <p class="h4 text-center font-weight-bold">Respostas</p>
        <hr>
        <% answers.forEach(answer =>{%>
            <br>
           <div class="card">

            <div class="card-footer">
                <h6 class="font-weight-normal"><%= answer.id + " - " + answer.bodyAnswer%><br></h6>
            </div>

           </div> 
        <% }) %>
    </div>

</body>
<%-include('partials/footer.ejs')%>